MYSQL_DATABASE=speakscore
MYSQL_USER=speakscore
MYSQL_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-this-root-password
ECDICT_URL=https://raw.githubusercontent.com/skywind3000/ECDICT/master/ecdict.csv
HF_ENDPOINT=https://hf-mirror.com
# Use an absolute path on a server, or keep this project-relative path locally.
WHISPER_MODEL_DIR=./data/whisper-model
